.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.phpunit.result.cache
*.log
.DS_Store
Dockerfile
docker-compose*.yml
.docker
